/* Gallery image size */
.project-gallery img {
  width: 100%;
  max-width: 300px; /* adjust this */
  border-radius: 8px;
  display: block;
  margin: auto;
  cursor: pointer;
}
/* Force Lightbox arrows to always show */
.lb-prev, .lb-next {
  opacity: 1 !important;
  visibility: visible !important;
}
/* Hide Lightbox arrows on screens smaller than 768px (typical mobile breakpoint) */
@media (max-width: 767px) {
  .lb-prev,
  .lb-next {
    display: none !important;
  }
}

/* You can add more styles here later */
