/* Gallery image size */
.project-gallery img {
  width: 100%;
  max-width: 300px; /* adjust this */
  border-radius: 8px;
  display: block;
  margin: auto;
  cursor: pointer;
}
/* Force Lightbox arrows to always show */
.lb-prev, .lb-next {
  opacity: 1 !important;
  visibility: visible !important;
}

/* You can add more styles here later */
