/* Gallery image size */
.project-gallery img {
  width: 100%;
  max-width: 300px; /* adjust this */
  border-radius: 8px;
  display: block;
  margin: auto;
  cursor: pointer;
}
/* Customize Lightbox popup image size */
.lightbox-image {
  max-width: 90vw !important;  /* 90% of viewport width */
  max-height: 90vh !important; /* 90% of viewport height */
  width: auto !important;      /* Let width scale naturally */
  height: auto !important;     /* Let height scale naturally */
}

/* You can add more styles here later */
